<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <h1>Please review your monthly categorisations for {{bankStatement.bankName}}</h1>
    <form action="reports/categorisations" method="post">
        {{#each bankStatement.formattedDecisions}}
            <h3>{{line.date}}, {{line.purchase}}: £{{line.amount}}
            <select name="decisions">
                {{#each categoriesWithSelection.categories}}
                    <optgroup label="{{title}}">
                        {{#each subCategories}}
                            <option value="[{{line.date}},{{line.purchase}},{{line.amount}},{{title}},{{subCategory.name}}]"{{selector}}>{{subCategory.name}}</option>
                        {{/each}}
                    </optgroup>
                {{/each}}
            </select>
            </h3>
        {{/each}}
        <input type="hidden" name="statement-data" value="2017;September;Tom;[{{bankStatement.bankName}}.csv]">
        <input type="hidden" name="outstanding-banks" value="{{outstandingStatements}}">
        <div class="button">
            <button type="submit">Confirm</button>
        </div>
    </form>
</body>
</html>