<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <h1>You need to categorise some transactions.</h1>
    <h3>{{currentTransaction.vendorName}}</h3>
    <form action="/category-mapping" method="post">
        <select name="new-mapping">
            {{#each currentTransaction.categories}}
            <optgroup label="{{title}}">
                {{#each data}}
                <option value="{{currentTransaction.vendorName}},{{title}},{{name}}">{{name}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>
        <input type="hidden" name="remaining-vendors" value="{{outstandingTransactions}}">

        <div class="button">
            <button type="submit">Update category</button>
        </div>
    </form>
    </body>
</html>