<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <link href="public/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>You need to categorise some merchants.</h1>
    <h3>{{currentMerchant.name}}</h3>
    <form action="/category-mapping" method="post">
        <select name="new-mapping">
            {{#each categories}}
            <optgroup label="{{@key.title}}">
                {{#each this}}
                <option value="{{currentMerchant.name}},{{@../key.title}},{{name}}">{{name}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>
        {{#each remainingMerchants}}
            <input type="hidden" name="remaining-merchant" value="{{this}}">
        {{/each}}
        <input type="hidden" name="year" value="{{year}}">
        <input type="hidden" name="month" value="{{month}}">
        <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="statement-name" value="{{statementName}}">
        <input type="hidden" name="statement-file-path" value="{{statementFilePath}}">
        <div class="button">
            <button type="submit">Update category</button>
        </div>
    </form>
    </body>
</html>