<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrooge</title>
    <link href="public/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Please review your categorisations for {{bankStatement.statement}}</h1>
    <form action="statement-decisions" method="post">
        {{#each bankStatement.formattedDecisions}}
            <h3>{{line.date}}, {{line.merchant}}: £{{line.amount}}
            <select name="decision">
                {{#each categoriesWithSelection.categories}}
                    <optgroup label="{{title}}">
                        {{#each subCategories}}
                            <option value="{{line.date}},{{line.merchant}},{{line.amount}},{{title}},{{subCategory.name}}"{{selector}}>{{subCategory.name}}</option>
                        {{/each}}
                    </optgroup>
                {{/each}}
            </select>
            </h3>
        {{/each}}
        <input type="hidden" name="year" value="{{bankStatement.year}}">
        <input type="hidden" name="month" value="{{bankStatement.month}}">
        <input type="hidden" name="user" value="{{bankStatement.user}}">
        <input type="hidden" name="statement-name" value="{{bankStatement.statement}}">
        <div class="button">
            <button type="submit">Confirm</button>
        </div>
    </form>
</body>
</html>